= simple_form_for [@user, @artist], :html => { :class => 'form-horizontal', :multipart => true } do |f|
  = f.error_notification

  = f.input :name
  = f.association :genres
  = f.input :image, :as => :file
  = f.input :website
  = f.input :phone
  = f.input :zip_name,
    :as => :string,
    :label => 'Zipcode',
    :as => :autocomplete,
    :url => "/zipcode/autocomplete_zipcode_zipcode",
    :required => true
  = f.input :covers_percentage,
    :collection => ["All covers", "Mix of covers and originals", "All originals"],
    :label => "Covers vs. Originals",
    :hint => "(Does this artist/group play all originals, all covers, or a mix?)"
  .control-group.text.optional
    %label.boolean.optional.control-label Weekly Availability
    .controls
      - %w[Sunday Monday Tuesday Wednesday Thursday Friday Saturday].each do |day|
        .checkbox.inline
          = check_box :artist, "available_#{day.downcase}".to_sym
          = day
  .control-group.text.optional.blackout-dates
    %label.boolean.optional.control-label Blackout Dates
    = f.fields_for :blackout_dates do |builder|
      = render 'blackout_date_fields', f: builder
    = link_to_add_fields "Add Blackout Date", f, :blackout_dates
  = f.input :description, :input_html => { :class => 'standard-desc' }

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")),
      user_artists_path(@user), :class => 'btn'
