%h1 Listing Artists

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Website
      %th
  %tbody
    - @artists.each do |artist|
      %tr
        %td= link_to artist.name, artist
        %td= artist.website
        %td
          - if user_signed_in? && current_user.artists.include?(artist)
            = link_to 'Edit', edit_user_artist_path(current_user, artist), :class => 'btn btn-mini'
            = link_to 'Destroy', user_artist_path(current_user, artist), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger'

%br

= link_to 'New Artist', new_user_artist_path(current_user), :class => 'btn btn-primary' if user_signed_in?
